@model List<Ecommerce.Domain.Model.HangSanXuat>
@using Ecommerce.Web.common.Helper;
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        if (item.SanPhams != null && item.SanPhams.Count >= 5)
        {
            var products = item.SanPhams.OrderByDescending(p => p.Id).Skip(0).Take(8).ToList();


            <section id="bestsellers" class="color-bg wow fadeInUp items-section">
                <div class="container">
                    <div class="title">
                        <h1 class="section-title">@item.TenHang</h1>
                    </div>

                    <div class="product-grid-holder medium">
                        <div class="col-xs-12 col-md-7 no-margin">
                            <div class='row no-margin'>
                                @for (int i = 1; i < products.Count - 1; i++)
                                {
                                    <div class="col-xs-12 col-sm-4 no-margin product-item-holder size-medium hover">
                                        @Html.Partial("_ProductGridShowPartal", products[i])
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 no-margin best-seller-big-item">
                            <div class="product-item-holder size-big single-product-gallery small-gallery">
                                <div id="@(products[0].MaSP+ "_slider")" class="single-product-slider owl-carousel">
                                    <div class="single-product-gallery-item" id="@(products[0].MaSP+ "_slider_1")">
                                        <a data-rel="prettyphoto" href="@Url.RouteUrl("ProductDetail", new { id = products[0].MaSP, alias =  products[0].TenSP.GenerateFriendlyName() })" title="@products[0].TenSP">
                                            <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhDaiDien" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhDaiDien" />
                                        </a>
                                    </div>
                                    @if (!string.IsNullOrEmpty(products[0].AnhNen))
                                    {
                                        <div class="single-product-gallery-item" id="@(products[0].MaSP+ "_slider_2")">
                                            <a data-rel="prettyphoto" href="@Url.RouteUrl("ProductDetail", new { id = products[0].MaSP, alias =  products[0].TenSP.GenerateFriendlyName() })" title="@products[0].TenSP">
                                                <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhNen" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhNen" />
                                            </a>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(products[0].AnhKhac))
                                    {
                                        <div class="single-product-gallery-item" id="@(products[0].MaSP+ "_slider_2")">
                                            <a data-rel="prettyphoto" href="@Url.RouteUrl("ProductDetail", new { id = products[0].MaSP, alias =  products[0].TenSP.GenerateFriendlyName() })" title="@products[0].TenSP">
                                                <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhKhac" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhKhac" />
                                            </a>
                                        </div>
                                    }

                                </div>

                                <div class="gallery-thumbs clearfix">
                                    <ul>
                                        <li>
                                            <a class="horizontal-thumb active" data-target="#@(products[0].MaSP+ "_slider")" data-slide="0" href="#@(products[0].MaSP+ "_slider_1")">
                                                <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhDaiDien" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhDaiDien" />
                                            </a>
                                        </li>
                                        @if (!string.IsNullOrEmpty(products[0].AnhNen))
                                        {
                                            <li>
                                                <a class="horizontal-thumb" data-target="#@(products[0].MaSP+ "_slider")" data-slide="1" href="#@(products[0].MaSP+ "_slider_2")">
                                                    <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhNen" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhNen" />
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(products[0].AnhKhac))
                                        {
                                            <li>
                                                <a class="horizontal-thumb" data-target="#@(products[0].MaSP+ "_slider")" data-slide="2" href="#@(products[0].MaSP+ "_slider_3")">
                                                    <img alt="" src="@Url.Content("~/uploads/products/")@products[0].AnhKhac" data-echo="@Url.Content("~/uploads/products/")@products[0].AnhKhac" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="body">
                                    <div class="label-discount clear"></div>
                                    <div class="title">
                                        <a href="@Url.RouteUrl("ProductDetail", new { id = products[0].MaSP, alias =  products[0].TenSP.GenerateFriendlyName() })" title="@products[0].TenSP">
                                            @products[0].TenSP
                                        </a>
                                    </div>
                                    <div class="brand">@item.TenHang</div>
                                </div>
                                <div class="prices text-right">
                                    <div class="price-current inline">@string.Format("{0:0,0}", products[0].GiaTien)  VNĐ</div>
                                    <a href="javascript:void(0)" onclick="Addcart('@products[0].MaSP',1)" class="le-button big inline">Mua ngay</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        }
    }
}
