@model Ecommerce.Web.Models.ViewModel.Footer_ViewModel

<footer id="footer" class="color-bg">

    <div class="container">
        <div class="row no-margin widgets-row">
            <div class="col-xs-12  col-sm-4 no-margin-left">

            </div>
            <div class="col-xs-12 col-sm-4 ">

            </div>
            <div class="col-xs-12 col-sm-4 ">

            </div>
        </div>
    </div>
    <div class="sub-form-row">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                <form role="form">
                    <input placeholder="Đăng ký email nhận thông tin khuyến mãi">
                    <button class="le-button">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
    <div class="link-list-row">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">           
                <div class="contact-info">
                    <div class="footer-logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img alt="logo" src="@Url.Content(Model.Settings.Logo)" width="233" height="54" />
                        </a>
                    </div>
                    <p class="regular-bold">Địa chỉ</p>
                    <p>
                        @Model.Settings.Address
                    </p>
                    <div class="social-icons">
                        <h3>Kết nối</h3>
                        <ul>
                            <li><a href="@Model.Settings.FaceBook" class="fa fa-facebook"></a></li>
                        </ul>
                    </div>
                </div>               
            </div>
            <div class="col-xs-12 col-md-8 no-margin">
               
                <div class="link-widget">
                    <div class="widget">
                        <h3>Email</h3>
                        <ul>
                            <li><a>@Model.Settings.Email</a></li>
                        </ul>
                    </div>
                </div>
                <div class="link-widget">
                    <div class="widget">
                        <h3>Số điện thoại</h3>
                        <ul>
                            <li><a>@Model.Settings.PhoneNumber</a></li>

                        </ul>
                    </div>
                </div>
                <div class="link-widget">
                    <div class="widget">
                        <h3>Trợ giúp</h3>
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>               
            </div>
        </div>
    </div>

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin">
            </div>
        </div>
    </div>
</footer>