@model Ecommerce.Web.Models.ViewModel.Header_ViewModel
<div class="container no-padding">
    <div class="col-xs-12 col-md-3 logo-holder">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">

                <img alt="logo" src="@Url.Content(Model.Settings.Logo)" width="233" height="54" />
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 top-search-holder no-margin">
        <div class="contact-row">
            <div class="phone inline">
                <i class="fa fa-phone"></i> @Model.Settings.PhoneNumber
            </div>
        </div>
        <div class="search-area">
            @Html.Action("SearchForm", "Search")
        </div>
    </div>
    <div class="col-xs-12 col-md-3 top-cart-row no-margin">
        <div class="top-cart-row-container">
            @*<div class="wishlist-compare-holder">
                    <div class="wishlist ">
                        <a href="#"><i class="fa fa-heart"></i> like <span class="value">(21)</span> </a>
                    </div>
                    <div class="compare">
                        <a href="#"><i class="fa fa-exchange"></i> so sánh <span class="value">(2)</span> </a>
                    </div>
                </div>*@         
            <div class="top-cart-holder dropdown animate-dropdown">

                <div class="basket">
                    @Html.Action("CartTitle", "Xuligiohang")
                </div>
            </div>
        </div>       
    </div>
</div>
