@using Ecommerce.Web.Models;
@using PagedList;
@using PagedList.Mvc;
@using Ecommerce.Web.common
@model List<Ecommerce.Domain.Model.Display>


<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Type)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Value)</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">@item.Type</td>
                <td class="center">@Html.Raw(WebUtility.HtmlDecode(item.Value.LimitTo(500)))</td>
                <td class="center">
                    <div class="form-group">
                        <a class="btn btn-info" href="@Url.Action("CrudSetting_View", "Setting", new { id = item.Id })">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                            Sửa
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-danger" href='javascript:DeleteProductType("@Url.Action("DeleteProductType", "ProductType")","@item.Id")'>
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

