@model Ecommerce.Web.Areas.BackEnd.Models.CrudSetting_ViewModel
@using Ecommerce.Web.common.Helper.Extention
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Areas/BackEnd/Views/Share/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
                @using (Html.BeginForm("SaveSetting", "Setting", FormMethod.Post, new { Area = "BackEnd", enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <div class="alert alert-info" style="display:none">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            @Html.HiddenFor(model => model.Id)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @{
                                    bool disabled = false;
                                    if (!string.IsNullOrEmpty(Model.Id.ToString()) && Model.Id > 0)
                                    {
                                        disabled = true;
                                    }

                                }
                                @Html.DropDownListForCustom(model => model.Type, Model.ListSettingType, new { @class = "form-control" }, disabled)
                                @Html.ValidationMessageFor(model => model.Type)

                            </div>
                        </div>
                        <div class="form-group text-value">
                            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", })
                                @Html.ValidationMessageFor(model => model.Value)
                            </div>
                        </div>
                        <div class="form-group text-area-value">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2", @rows = 10 })
                            <div class="col-md-10">
                                @Html.TextArea("Description", WebUtility.HtmlDecode(Model.Description))

                            </div>
                        </div>

                        @if (string.IsNullOrEmpty(Model.Id.ToString()) || Model.Id <= 0)
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-info">
                                        <i class="glyphicon glyphicon-wrench icon-white"></i>
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                                    }
            </div>
        </div>
    </div>
</div>
<script>
    var editor = CKEDITOR.replace('Description', { height: 600, });
    CKFinder.setupCKEditor(editor);
</script>
<script>
    $(function () {
        $("#Type").change(function () {
            $('.img-value').hide();
            $('.text-value').hide();
            $('.text-area-value').hide();
            if ($("#Type").val() == "About" || $("#Type").val() == "Contact" || $("#Type").val() == "Logo") {
                $('.text-area-value').show();
            }
            else {
                $('.text-value').show();
            }
        });
        $("#Type").change();
    });
</script>



