@model Ecommerce.Web.Areas.BackEnd.Models.CrudSetting_ViewModel

@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
                @using (Html.BeginForm("SaveSetting", "Setting", FormMethod.Post, new { Area = "BackEnd" , enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <div class="alert alert-info" style="display:none">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            @Html.HiddenFor(model => model.Id)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Type, Model.ListSettingType, new { @class = "form-control", })
                                @Html.ValidationMessageFor(model => model.Type)
                              
                            </div>
                        </div>
                        <div class="form-group text-value">
                            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", })
                                @Html.ValidationMessageFor(model => model.Value)
                            </div>
                        </div>
                        <div class="form-group img-value">
                            @Html.Label("Hình ảnh", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <img id="seting_image" src="@Url.Content(Model.Value)" alt="your image" width="233" height="54"/>
                                <input type="file" name="file" accept=".jpg,.png" class="form-control" onchange="readURL(this, '#seting_image');" />
                            </div>
                        </div>
                        
                        @if (string.IsNullOrEmpty(Model.Id.ToString()) && Model.Id > 0)
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-info">
                                        <i class="glyphicon glyphicon-wrench icon-white"></i>
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#Type").change(function () {
            $('.img-value').hide();
            $('.text-value').hide();
            if ($("#Type").val() == "Logo") {
                $('.img-value').show();
            }
            else {
                $('.text-value').show();
            }
        });
        $("#Type").change();
    });
</script>


