@using Ecommerce.Web.Models;
@using Ecommerce.Web.common.Helper;
@model List<MenuItem>
<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        //onclick = "window.location.href= '@Url.RouteUrl("Category",new { alias= item.LoaiSP.Alias, brandAlias="" })'"
                        <li class="dropdown">
                            <a href="@Url.RouteUrl("Category",new { alias= item.LoaiSP.Alias})" title="@item.LoaiSP.TenLoai" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" onclick="window.location.href= '@Url.RouteUrl("Category",new { alias= item.LoaiSP.Alias })'">@item.LoaiSP.TenLoai</a>
                            <ul class="dropdown-menu">
                                @foreach (var i in item.HangSX)
                                {
                                    <li><a href="@Url.RouteUrl("BrandCategory", new { productTypeAlias = item.LoaiSP.Alias, brandAlias = i.Alias })" title="@item.LoaiSP.TenLoai">@i.TenHang</a></li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</nav>
